<html>

    <body>
        <h1>Startup Success Prediction</h1>

        <form action="/calculate_success"
              method="post">
            <!-- create dropwdown for US states -->
            
            <label for="state">State:</label><br>
            <select id="state"
                    name="state">
                <option value="is_ca">California</option>
                <option value="is_ma">Massachusetts</option>
                <option value="is_ny">New York</option>
                <option value="is_tx">Texas</option>
                <option value="is_otherstate">Other</option>
            </select><br>
            <label for="gdp">Enter state GDP % change from founding year to prior year (Example: 96 instead of
                .96):</label><br>
            <input type="number"
                   step="0.01"
                   id="gdp"
                   name="gdp" value=0><br>
            <label for="first_funding">Age of first funding (in years)</label><br>
            <input type="number"
                   id="first_funding"
                   name="first_funding" value=0><br>
            <label for="last_funding">Age of last funding (in years)</label><br>
            <input type="number"
                   id="last_funding"
                   name="last_funding" value=0><br>
            <label for="first_milestone">Age of first Milestone (in years):</label><br>
            <input type="number"
                   id="first_milestone"
                   name="first_milestone" value=0><br>
            <label for="last_milestone">Age of last Milestone (in years):</label><br>
            <input type="number"
                   id="last_milestone"
                   name="last_milestone" value=0><br>
            <label for="relationships">Number of relationships:</label><br>
            <input type="number"
                   id="relationships"
                   name="relationships" value=0><br>
            <label for="rounds">Funding Rounds:</label><br>
            <input type="number"
                   id="rounds"
                   name="rounds" value=0><br>
            <label for="funding">Funding Total in USD:</label><br>
            <input type="number"
                   id="funding"
                   name="funding" value=0><br>
            <label for="milestones">Number of Milestones:</label><br>
            <input type="number"
                   id="milestones"
                   name="milestones" value=0><br>
            <label for="category">Category:</label><br>
            <select id="category"
                    name="category">
                <option value="is_software">Software</option>
                <option value="is_web">Web</option>
                <option value="is_mobile">Mobile</option>
                <option value="is_enterprise">Enterprise </option>
                <option value="is_advertising">Advertising </option>
                <option value="is_gamesvideo">Video Games </option>
                <option value="is_ecommerce">Ecommerce </option>
                <option value="is_biotech">Biotech </option>
                <option value="is_consulting">Consulting </option>
                <option value="is_other">Other </option>
            </select><br>
            <label for="vc">Does it have VC?:</label><br>
            <select id="vc"
                    name="vc">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select><br>
            <label for="angel">Does it have angel funding?:</label><br>
            <select id="angel"
                    name="angel">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select><br>
            <label for="seriesa">Does it have series A:</label><br>
            <select id="seriesa"
                    name="seriesa">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select><br>
            <label for="seriesb">Does it have series B:</label><br>
            <select id="seriesb"
                    name="seriesb">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select><br>
            <label for="seriesc">Does it have series C:</label><br>
            <select id="seriesc"
                    name="seriesc">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select><br>
            <label for="seriesd">Does it have series D:</label><br>
            <select id="seriesd"
                    name="seriesd">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select><br>
            <label for="avg_participants">Average Participants per Round:</label><br>
            <input type="number"
                   id="avg_participants"
                   name="avg_participants" value=0><br>
            <label for="top500">Is the company in the top 500?:</label><br>
            <select id="top500"
                    name="top500">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select><br>
            <label for="reached_milestone">Did the company reach a milestone?:</label><br>
            <select id="reached_milestone"
                    name="reached_milestone">
                <option value="1">Yes</option>
                <option value="0">No</option>
            </select><br>
            <label for="founded_funding">How many days did it take from founding to funding?:</label><br>
            <input type="number"
                   id="founded_funding"
                   name="founded_funding" value=0><br>
            <label for="first_last_funding">How many days did it take from first funding to last funding?:</label><br>
            <input type="number"
                   id="first_last_funding"
                   name="first_last_funding" value=0><br><br>
            <button type="submit">Calculate succes chances</button>
        </form>

        <div id="chances_result">
            <p>Your probability of success is: {{ success }}</p>
        </div>
    </body>

</html>